.button {
  border-radius: 10px;
  color: white;
  background-color: #f47d26;
  padding: 10px 20px;
  margin-left: auto;
  font-family: Poppins, sans-serif;
  font-size: 18px;
  cursor: pointer;
  border: none;
}
